<div class="login">
  <h1>LOGIN</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <%= form_tag '/login', :class => 'form' do %>
    <%= text_field_tag :email, nil, placeholder: 'EMAIL'  %>
    <%= password_field_tag :password, nil, placeholder: 'PASSWORD' %>
    <%= submit_tag "SUBMIT" %>
  <% end %>
</div>