<div class="login">
  <h1>Login</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <%= form_tag '/login' do %>
    Email: <%= text_field_tag :email  %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
  <% end %>
</div>
