<div class="main form">
  <%= form_for @critic do |f| %>

    <% if @critic.errors.any? %>
      <% @critic.errors.full_messages.each do |error| %>
        <div class = "error"><%= error %>!</div>
      <% end %>
    <% end %>

    <h1>ELITE ACCESS GRANTED</h1>

    <%= f.text_field :username, :placeholder => 'USERNAME' %>

    <%= f.text_field :email, :placeholder => 'EMAIL' %>

    <%= f.password_field :password, :placeholder => 'PASSWORD' %>

    <%= f.password_field :password_confirmation, :placeholder => 'CONFIRM PASSWORD' %>


    <%- f.label :profile_image %>
    <p>UPLOAD PROFILE IMAGE</p>
    <%= f.file_field :profile_image %>

    <%= f.submit %>

  <% end %>
</div>
