<div class="main form">
  <h1 class="add-movie-header">Add a Movie</h1>
  <%= form_for @movie do |f| %>

    <% if @movie.errors.any? %>
      <%= @movie.errors.full_messages.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  <div class = "movie-name">
    <%= f.text_field :name, :placeholder => 'MOVIE NAME' %>
  </div>
  <div class = "movie-imdb-link">
    <%= f.text_field :imdb_url, :placeholder => 'IMDB URL' %>
  </div>
  <%- f.label :movie_image %>
    <%= f.file_field :movie_image %>

    <%= f.submit %>

  <% end %>
</div>