
<%= form_for @event do |f| %>

  <% if @event.errors.any? %>
    <%= @event.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
<div class = "pub-date">
  Publishing Date:
  <%= f.date_field :pub_date %>
</div>
<div class = "event-name">
  Event Name:
  <%= f.text_field :name %>
</div>

  <%= f.submit %>

<% end %>
