<div class = "event-container">
  <div class="event-header">Event: <%= @event.name %> </div>
  <div class = "movie-title"><%= @event.movie.name %></div>
  <div class = "pub-date">Publish Date: <%=@event.pub_date.to_s%></div>
  <div class = "movie-img"><img src=<%=@event.movie.movie_image%>></div>
  <div class = "reviewer-container">
  The following reviews are for this event:<br><br>
  <ul class = "reviews-list">
    <% @event.reviews.each do |review| %>
      <li><%= link_to review.critic.username, review %>
          <% if review_has_data(review) %>
            (Started or Completed)
          <% end %>
          <% if review.critic.id == current_user.id && is_editable?(review) %>
            <a href="/reviews/<%=@event.reviews.find_by(critic_id: session[:user_id]).id%>/edit"> (Create / Edit your review) </a>
          <% end %>
          </li>
    <% end %>
  </ul>

  <% if @event.creator_id = session[:user_id] && event_is_editable?(@event) %>
    <%=link_to "Edit this Event", edit_event_path(@event.id)%>
    <%=link_to "Delete this Event", event_path(@event.id), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>
    <a href="/events/<%= @event.id %>/invite">Event Admin: Select Reviewers</a>
  <% end %>
  </div>
</div>
