<div class="main">
  <h2><%= @event.name %></h2>
  <h3 class="gray">REVIEWING</h3>
  <h1><%= @event.movie.name %></h1>
  <% if @event.pub_date > Date.today %>
    <p><%=time_ago_in_words(@event.pub_date).upcase %> LEFT TO CONTRIBUTE</p>
  <% else %>
    <p>EVENT CLOSED</p>
  <% end %>
  <div class="border"></div>
  <div class ="movie-img">
    <img src=<%=@event.movie.movie_image.url%>>
  </div>

  <div class="event-review-container">
    <p class="gray">REVIEWS FOR THIS EVENT ARE</p>
    <% if @event.pub_date > Date.today %>
      <button class="aButton" onclick="location.href='/events/<%= @event.id %>/invite';" id="make_invite">SELECT REVIEWERS</button>
        <% if @event.creator_id == session[:user_id] && event_is_editable?(@event) %>
    <%=link_to "EDIT EVENT", edit_event_path(@event.id), :class => 'aButton'%>
    <%=link_to "DELETE EVENT", event_path(@event.id), :method => :delete, :class => "delete aButton", :confirm => "Are you sure ?"%>
    <% end %>
    <% end %>
      <% @event.reviews.each do |review| %>
        <div class="event-review" style="background-image: url(<%= review.critic.profile_image %>)">
          <h1><%= link_to review.critic.username, review %></h1>
            <% if review_has_data(review) %>
              <p>STARTED OR COMPLETED</p>
            <% end %>
          <% if review.critic.id == current_user.id && is_editable?(review)%>
            <p><a href="/reviews/<%=@event.reviews.find_by(critic_id: session[:user_id]).id%>/edit"> (Create / Edit your review) </a></p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

