show.html.erb

<h2>Event: <%= @event.name %> is a review for <%= @event.movie.name %></h2>

The following reviews are for this event:<br><br>
<style>
li a {color: #00F; display:block;}
ul {text-align: left;}
</style>
<ul>
  <% @event.reviews.each do |review| %>
    <li><%= link_to review.critic.username, review %>
        <% if review_has_data(review) %>
          (Started or Completed)
        <% end %>
        <% if review.critic.id == current_user.id %>
          <a href="/reviews/<%=@event.reviews.find_by(critic_id: session[:user_id]).id%>/edit"> (Create / Edit your review) </a>
        <% end %>
        </li>
  <% end %>
</ul>

<% if @event.creator_id = session[:user_id] %>
  <a href="/events/<%= @event.id %>/invite">Event Admin: Select Reviewers</a>
<% end %>

