<div class="main">
	<h2>YOU CREATED <%= @event.name %></h2>
	<h2>SELECT WHO MAY PARTICIPATE</h2>

	<script>
	$(document).ready(function() {
		$('#invite_buttons').on("click",".invite_button",function(e) {
			console.log("Button: " + $(this).val());
			ajaxReq = $.ajax({
								url: '/reviews/invite_handler',
								method: 'post',
								data: {"data":$(this).val()},
								dataType: 'json',
							});
			ajaxReq.done(function(response){
				var critic = response["critic_id"];
				if (response["action"] == 'i') { 
					$("#critic" + critic).val("u," + response["event_id"] + "," + critic)
					bgc = "#000"; 
					bgco = "#f6f6f6";
				} else { 
					$("#critic" + critic).val("i," + response["event_id"] + "," + critic)
					bgc = "#f6f6f6";
					bgco = "#000"
				}
				console.log("bgc is " + bgc);

				// $("#critic" + critic).css("background-color",bgc);
				$("#critic" + critic).animate({
					backgroundColor: bgc ,
					color: bgco
				}, 500)
			})
		})
	})
	</script>
	<div class="event-invite-buttons">
		<div style="width: 200px; display:block; margin: auto;" id="invite_buttons">
		<% @critics.each do |critic| %>
			<% if is_invited?(critic,@event) %>
				<button style="background-color: #000; color: #fff"
						id = "critic<%= critic.id %>" 
						class = "invite_button" 
						value = "u,<%=@event.id%>,<%=critic.id %>" >
					<%=critic.username %>
				</button>
			<% else %>
				<button style="background-color: #f6f6f6; color: #000"
						id = "critic<%= critic.id %>" 
						class = "invite_button" 
						value = "i,<%=@event.id%>,<%=critic.id %>" >
					<%=critic.username %>
				</button>
			<% end %>
			<br>
		<% end %>
		<a class="aButton" style="margin-left: -3.1em; height: 20px; width: 300px;" href="/events/<%= @event.id %>">BACK TO EVENT</a>
		</div>
	</div>
</div>