<h2>You created this event. You may select who can submit reviews:
</h2>
<br>
<span style="height: 30px; width: 30px;background-color: #CFC"> Already invited, click to uninvite</span>
<br>
<span style="height: 30px; width: 30px;background-color: #CCC"> Not yet invited, click to invite</span>
<br><br><br>

<script>
$(document).ready(function() {
	$('#invite_buttons').on("click",".invite_button",function(e) {
		console.log("Button: " + $(this).val());
		ajaxReq = $.ajax({
							url: '/reviews/invite_handler',
							method: 'post',
							data: {"data":$(this).val()},
							dataType: 'json',
						});
		ajaxReq.done(function(response){
			var critic = response["critic_id"];
			if (response["action"] == 'i') { 
				$("#critic" + critic).val("u," + response["event_id"] + "," + critic)
				bgc = "#CFC"; 
			} else { 
				$("#critic" + critic).val("i," + response["event_id"] + "," + critic)
				bgc = "#CCC"; 
			}
			console.log("bgc is " + bgc);

			$("#critic" + critic).css("background-color",bgc);
		})
	})
})
</script>

<style>button {display:block;}</style>

<div style="width: 200px; display:block; margin: auto;" id="invite_buttons">
<% @critics.each do |critic| %>
	<% if is_invited?(critic,@event) %>
		<button style = "background-color: #CFC;" 
				id = "critic<%= critic.id %>" 
				class = "invite_button" 
				value = "u,<%=@event.id%>,<%=critic.id %>" >
			<%=critic.username %>
		</button>
	<% else %>
		<button style = "background-color: #CCC;" 
				id = "critic<%= critic.id %>" 
				class = "invite_button" 
				value = "i,<%=@event.id%>,<%=critic.id %>" >
			<%=critic.username %>
		</button>
	<% end %>
	<br>
<% end %>
<a href="/events/<%= @event.id %>">Back to Event</a>
</div>