<div class="main">
  <h1><%= @review.critic.username.upcase %>'S REVIEW</h1>
  <%= form_for @review do |f| %>

    <% if @review.errors.any? %>
      <%= @review.errors.full_messages.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

    <table>
      <% 5.times do |x| %>
        <tr>
        <td><%= @labels[x] %></td>
        <td>
        <% 10.times do |y| %>
          <% if @review.ratings.split(',')[x] == (y+1).to_s %>
            <% checked="checked" %>
          <% else %>
            <% checked="" %>
          <% end %>
          <input type="radio" name="review[rubric<%=x+1%>]" value="<%=y+1%>" <%= checked %> >
          <span style="color: #<%= (12-y).to_s(16) %><%= (y+4).to_s(16) %>6"><%=y+1%></span>
        <% end %>
        </td></tr>
      <% end %>
      <tr>
        <td>Artistic</td>
          <td><input id="artistic" type="text" size=2 name="review[rubric6]" placeholder=" / 50" value="<%=@review.ratings.split(',')[5]%>"></td>
      </tr>
    </table>

    <%= f.label :content %><br>
    <%= f.text_area :content, :class => 'content', :id => 'review-content' %>

    <%= f.submit %>

  <% end %>
</div>