<div class="main">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=120085081428346";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<h2>Review for <%= @review.movie.name %></h2>
	<h3><%= @review.critic.username %></h3>

	<div class="review-images">
		<img src="<%= @review.critic.profile_image %>">
		<img src="<%= @review.movie.img_url %>">
	</div>
<style>
.review_scores {
	float: right;
	padding-right: 10px;
}
#total_outline {
	border-top: 1px solid black;
	height: 22px;
	position: relative;
}
</style>

	<div class="rating-criterias">
		<% @review.ratings.split(',').each_with_index do |val,index| %>
			<%if index < 5 %>
			<div class="bar" style="width: <%= val %>0%;height: 20px">
				<p><%= @labels[index].upcase %> <span class="review_scores"><%= val %> / 10</span></p>
			</div>
			<% else %>
			<div class="bar" style="width: <%= val %>%;height: 20px">
				<p><%= @labels[index].upcase %> <span class="review_scores"><%= val %> / 50</span></p>
			</div>
			<% end %>
		<% end %>
		<div class="bar" style="width: <%= @total %>%;height:20px"><p>TOTAL <span class="review_scores"><%= @total %> / 100</span></p></div>
		<div id="total_outline"></div>
	</div>

	<div class="rating-content">
		<%= simple_format(@review.content.gsub(/\n/, '<br>'))%>
	</div>

	<% if @review.critic_id == session[:user_id] %>
		<% if @review.event.pub_date > Date.today %>
			<a href="/reviews/" + @review.id + "/edit">Edit your review</a>
		<% end %>
	<% end %>

	<div class="social">
		<a href="#">
			<div class="fa  fa-facebook-square"></div>
		</a>


		<a href="https://twitter.com/share">
			<div class="fa fa-twitter-square"></div>
		</a>
	</div>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
