
  <div id="critic-event-content">
    <% @critic = Critic.find(session[:user_id]) %>
    <h2>WELCOME <%= @critic.username.upcase %> </h2>
    <h3>YOU'RE INVITED TO THE FOLLOWING EVENTS:</h3>
    <ul>
    <% @critic.joined_events.each do |event| %>
      <div class="event">
        <% if event.pub_date > Date.today %>
            <li><%= link_to event.name, event %></li>
        <% end %>
      </div>
    <% end %>
    </ul>
    <div class="container">
    <h3> EVENTS YOU CREATED:</h3>
    <ul>
    <% @critic.created_events.each do |event| %>
      <li class="gray"><%= link_to event.name, event %></li>
    <% end %>
    </ul>
    </div>

    <div class="container">
    <h3>Invite a friend to join Cinemasters!</h3>
    You've created the following invitation codes: <br>
    <p>Email to your friends</p>
    <ul id="invcodes">
    <% @critic.invitations.each do |inv| %>
      <li class="gray">http://localhost:3000/invitations/<%= inv.code %> <a class="del_invitation" href="<%= inv.code %>">  &nbsp;&nbsp; (delete)</a></li> 
    <% end %>
    </ul>
    <button class="aButton left" id="make_invite">GENERATE INVITE CODE</button>
    <button class="aButton left" onclick="location.href='/events/new';" id="make_invite">CREATE EVENT</button>
    </div>


    </div>
    <div id="critic-event-tab"></div>

