<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <title>CINEMASTERS</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>


</head>
<body>



<div class="fa fa-bars" id='nav-button-hover'></div>
<% if current_user %>
	<% i= "active" %>
<% else %>
	<% i= "inactive" %>
<% end %>
<nav class="<%=i%>">
	<ul id="left">
		<% if current_user %>
			<li><%= link_to "#{current_user.username.upcase}", current_user %></li> |
			<li><a href="/logout">LOG OUT</a></li>
		<% else %>
			<li><a href='/login'>LOG IN</a></li>
			<li><a href="/critics">VIEW CRITICS</a></li>
		<% end %>
	</ul>
	<ul id='center'>
		<li><a href="/">CINEMASTERS</a></li>
	</ul>
	<ul id='right'>
		<li class="fa fa-bars <%=i%>" id="nav-button-click"></li>
	</ul>
</nav>

<% if current_user %>
  <%= render 'layouts/usernav' %>
<% end %>

<%= yield %>

</body>
</html>
